parameters:
  paths:
    - config
    - src

  excludePaths:
    - src/Pulse

  level: 0

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#\\(void\\) is used.#"
    - "#Parameter \\$livewire of anonymous function has invalid type#"
    - "#Class Laravel\\\\Pulse\\\\Pulse not found#"
    - "#Class Laravel\\\\Telescope\\\\Contracts\\\\EntriesRepository not found#"
    - "#Call to static method store\\(\\) on an unknown class Laravel\\\\Telescope\\\\Telescope#"
